<ul class="menu">

    {% for section in main_menu %}
    <li>
                        <a href="{% url section.menu_section %}"
                           class="{% if request.resolver_match.view_name == section.menu_section %} active {% endif %}">
                            {{ section.name }}
                        </a>
    </li>
    {% endfor %}

      <!-- Вход и выход в меню -->
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
    {% endif %}

    {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin:users' %}">админка</a>
        </li>
    {% endif %}
    {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin:admin_ajax' %}">админка ajax</a>
        </li>
    {% endif %}

        <li>
            {% if user.is_authenticated %}
              <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
              <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
        </li>

        <a href="{% url 'basket:view' %}" class="basket">
          <span>
            {% if basket %}
              {{ basket.0.total_cost|floatformat:0 }} руб
              ({{ basket.0.total_quantity }} шт)
            {% endif %}
          </span>
        </a>
</ul>
