{% extends 'adminapp/base.html' %}

{% load static %}

{% block content %}
    <div class = 'confirmation'>
        Вы уверены, что хотите удалить категорию " {{ object.name }}"?
        <form action="{% url 'admin:category_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="" type="submit" value="Удалить">
        </form>
            <button class="btn btn-success">
                <a class="" href="{% url 'admin:categories' %}">
                    Отмена
                </a>
            </button>
    </div>
{% endblock %}