{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}

<h2>Вариант 1. Принимаем форму</h2>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ create_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>

    <button class="btn btn-round form-control last">
        <a href="{% url 'admin:products' category.pk %}">
          К списку продуктов в категории "{{ category.name }}".
        </a>
    </button>
{% endblock %}
