{% extends 'adminapp/base.html' %}

{% load static %}

{% block content %}
    <div class = 'confirmation'>
        Вы уверены, что хотите удалить данный продукт " {{ delete_product.name }}"?
        <form action="{% url 'admin:product_delete' delete_product.pk %}" method="post">
            {% csrf_token %}
            <input class="" type="submit" value="Удалить">
        </form>
            <button class="btn btn-success">
                <a class="" href="{% url 'admin:categories' %}">
                    Отмена
                </a>
            </button>
    </div>
{% endblock %}