{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="product_record">
        {{ product_show.name }}
        <img src="/media/{{product_show.image|default:'products_images/default.jpg'}}"
             alt="{{ product_show.name }}">
        <div class="product_name">
            {{ product_show.name|title }}
        </div>
        <div class="summary">
            <b>цена</b>
            <p>{{ product_show.price }} руб</p>
            <b>количество</b>
            <p>{{ product_show.quantity }}</p>
        </div>
        <div class="product_desc">
            {{ product_show.short_desc|title }}
        </div>
    </div>
       <button class="btn btn-round form-control last">
            <a href="{% url 'admin:products' category.pk %}">
              К списку продуктов в категории "{{ category.name }}".
            </a>
        </button>
{% endblock %}