{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}

   <div class="edit">
       <div class="h2 text-center head" style="margin-bottom: 30px;">Редактирование данных пользователя </div>

        <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form.as_p }}
            <input class="form-control btn btn-primary" type="submit" value="сохранить">
        </form>
       <button class="btn btn-round form-control last">
        <a href="{% url 'index' %}" class="">
            на главную
        </a>
        </button>
        <div class="user_avatar row">
            <div class="col-md-8 mx-auto">
                 <img class="img-fluid" src="/media/{{ user.avatar }}" >
            </div>
        </div>

    </div>



{% endblock %}
